body {
    font-family: Arial;
    font-style: italic;
    background-color: white;
    border: black solid 3px;
    padding: 8px;
    margin: 5px;
}

h1 {
    color: rgb(243, 22, 132);
    text-align: center;
    justify-self: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 50px;
    
}

.mus_symbol {
    justify-self: center;
    justify-content: space-between;
}

.img_deg {
    display: grid;
    grid-template-columns: repeat(4, 1fr auto);
    gap: 10px;
    margin-bottom: 10px;
    width: 320px;
    height: 320px;
}

h2 {
    color: #008b1e;
    text-align: left;
    justify-self: left;
    font-size: 30px;
}

.container {
    display: flexbox;
    font-size: 17px;
}

h3 {
    color: #1288cc;
    text-align: center;
    justify-self: left;
    font-size: 28px;
}
div {
    font-size: 17px;
}

h4 {

    color: rgb(243, 22, 132);
    text-align: center;
    justify-self: left;
    font-size: 25px;
    margin-bottom: 10px;
}

h5 {
    color:rgb(247, 37, 10);
    text-align: center;
    justify-self: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;

}
.three_col_flexbox {
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.col {
    margin: 30px 15px;
    border: black solid 1px;

}
.span-example {
    color: #008b1e;
    cursor: pointer;
    
}
.span-example:hover {
    text-decoration: underline;
}
.span-mid {
    cursor: pointer;
}
.span-mid:hover {
    text-decoration: underline;
}

.span-line {
    color: #008b1e;
    cursor: pointer;
}
.span-line:hover {
    text-decoration: underline;
}

table, th, td {
    border: 2px solid black;
}

.moon {
    background-color: rgba(0, 0, 255, 0.918);
    color: antiquewhite;
    border-radius: 20px;
    height: 35px;
    margin-bottom: 20px;
    border: darkgray solid;
    justify-content: center;
}

.me {
    font-family: cursive;
    color: rebeccapurple;
    text-align: center;
}




